<div id="calc_form">
    <div class="w-md-col8"><div class="card mb-3"><div class="card-body bg-white">
    <div class="divrow">
    <div class="divcell numeric"></div>
    <div class="divcell">
    <ul class="horizontal nomarker nobox fieldset">
    <li>
    <div class="divtable">
    <div class="divrow">
    <div class="divcell"><label for="meters"><strong>Height :</strong>&nbsp;Centimeters</label></div>
    </div>
    <div class="divrow">
    <div class="divcell"><input id="meters" style="width: 5em !important;" tabindex="1" maxlength="6" name="meters" size="1" type="text"></div>
    </div>
    </div>
    </li>
    </ul>
    <div class="spacer"></div>
    </div>
    </div>
    <div class="divrow">
    <div class="divcell numeric"></div>
    <div class="divcell">
    <ul class="horizontal nomarker nobox fieldset">
    <li>
    <div class="divtable">
    <div class="divrow">
    <div class="divcell"><label for="kilograms"><strong>Weight :</strong> Kilograms:</label></div>
    </div>
    <div class="divrow">
    <div class="divcell"><input id="kilograms" style="width: 5em !important;" tabindex="3" maxlength="6" name="kilograms" size="6" type="text"></div>
    </div>
    </div>
    </li>
    </ul>
    <div class="spacer"></div>
    </div>
    </div>
    <div class="divrow">
    <div class="divcell numeric"></div>
    <div class="divcell" style="padding-top: 1.5em;">
    <ul class="horizontal nomarker nobox fieldset">
    <li><input id="calc" class="select-box btn btn-primary specialLinkIconLeft bg-primary b-primary float-right" tabindex="4" name="calc" type="button" value="Calculate"></li>
    </ul>
    </div>
    </div>
    </div></div></div>
    <p>&nbsp;</p>
    </div>

